#block5 {
    background: transparent linear-gradient(180deg, #1C2B31 0%, #212121 100%) 0% 0% no-repeat padding-box;
    padding: 100px;
}
#block5 .row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
#block5 .row.opinion{
    background: #E7BB2C 0% 0% no-repeat padding-box;
    padding: 50px 50px;
    letter-spacing: 0px;
    color: #1C2B31;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
}

@media (max-width:768px){
    #block5 {
        padding: 20px;
    }
    #block5 .row.opinion{
        background: #E7BB2C 0% 0% no-repeat padding-box;
        padding: 25px 11px;
        letter-spacing: 0px;
        color: #1C2B31;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
    }
}